body {
    display: flex;
    flex-direction: column;
}

.item {
    order: 5;
    background-color: rgb(255, 0, 191);
    flex-grow: 4; /* default 0 */
    flex-basis: auto; /* default auto */
    

      
}

header {
    background-color: #00B7EB;

}

.hero {
    background-color: #FF0000;
}

.content {
    background-color: #00FF00;
}

.sidebar {
    background-color: #800080;
}
footer {
    background-color: #444444;
}